#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

svg {
  /* display: flex;
  align-items: center;
  justify-items: center; */
  /* width: 400px;
  height: 400px; */
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  /* margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 3rem; */
}

input {
  background: none;
  border: none;
}